body {
    background: #DCE3EA;
}

.search-box.hovered, .search-box:hover, .search-box:active {
    background: #ffffff;
}

.search-box input[type=text] {
    border: none;
    box-shadow: none;
    display: inline-block;
    padding: 10px;
    background: transparent;
}

.search-box {
    width: 297px;
    height: 40px;
    background: #A4C8FD;
    margin-left:  20px;
    border-radius: 5px 5px 5px;
}

.search-box input[type=text]:hover, .search-box input[type=text]:focus, .search-box input[type=text]:active {

    box-shadow: none;
}


.search-box .search-btn:hover {
    color: #fff;
    background-color: #8FBE00;
}

.menus  {
    color: white;
}

#successLoggIn>h1 {
    position: relative;
    bottom: 30px;
}

#successLoggIn>p {
    margin-top: -100px;
    font-size: 23px;
}

#nameLogIn {
    color: red;
    font-weight: bold;
    text-shadow: 2px 0px black;
}

#successLoggIn>a {
    font-size: 20px;
}

#failedLogIn>p {
    font-size: 26px;
    color: red;
    padding-top: 100px;
    font-weight: bold;
    text-shadow: 1px 0 black;
}

#failedLogIn>a {
    font-size: 20px;
}

#fullname {
    width: 200px;
    height: 30px;
    position: relative;
    top: 3px;
    float: left;
    font-weight: bold;
    text-shadow: 1px 0 black;
}

#name {
    float: right;
    padding-right: 10px;
}

#role {
    position: relative;
    right: -105px;
    bottom: 8px;
    text-shadow: none;
}

#dangxuat {
    float: left;
}

.hot-review-tour {
    height: auto;
}

/*#block-ellipsis {*/
/*    width: 320px;*/
/*    height: 96px;*/
/*    display: block;*/
/*    display: -webkit-box;*/
/*    max-width: 100%;*/
/*    margin: 0 auto;*/
/*    font-size: 14px;*/
/*    line-height: 1;*/
/*    -webkit-line-clamp: 3;*/
/*    -webkit-box-orient: vertical;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/
